logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

*.iml
*.lock
*.komodoproject
.DS_Store
.history
.cache
.target/
project/boot/
workspace/
repository/
monitoring/
.cache
bin/
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
.sbtserver
project/.sbtserver
project/sbt-ui.sbt
project/play-fork-run.sbt